    .devide5 {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        flex-shrink: 1;
        -webkit-flex-shrink: 1;
        flex-basis: 20%;
        -webkit-flex-basis: 20%;
        width: 1px;
    }

    .devide7 {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        flex-shrink: 1;
        -webkit-flex-shrink: 1;
        flex-basis: 14%;
        -webkit-flex-basis: 14%;
        width: 1px;
    }
    .block {
        display: block;
    }