@import './vuecolors.scss';

.indent-s {
	margin: 5rpx 0 5rpx 40rpx;
}
.indent-m {
	margin: 5rpx 0 5rpx 80rpx;
}
.indent-l {
	margin: 5rpx 0 5rpx 120rpx;
}
@mixin pop-title-base($color) {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 40rpx;
	font-size: 40rpx;
	font-weight: bold;
	padding: 0 15rpx;
	text-align: left;
	color: $color;
}
.z-flex {
	--dir-row: row;
	--dir-col: column;
	--wrap-no: nowrap;
	--wrap-yes: wrap;
	display: flex;
	flex-flow: var(--dir) var(--wrap);
}
.form-top-view {
	// --dir-row: row;
	// --dir-col: column;
	
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	background: $grey-lighten-3;
	border-radius: 10px;
	padding: 20rpx 20rpx;
	// flex-direction: var(--dir); 
	.form-item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		// background: $grey-lighten-1;
		// padding: 5rpx 20rpx;
		// margin: 5rpx 5rpx;
		border-radius: 10px;
		.form-item-name {
			font-weight: bold;
			padding: 5rpx 20rpx;
			margin: 5rpx 5rpx;
		}
		.form-item-text {
			padding: 5rpx 20rpx;
			margin: 5rpx 5rpx;
		}	
	}

	.pop-item-base {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		// align-items: center;
		background: $grey-lighten-1;
		padding: 5rpx 5rpx;
		margin: 5rpx 5rpx;
		border-radius: 10px;
	}
	.pop-title {
		@include pop-title-base($cyan-base);
	}
	.pop-title-waring {
		@include pop-title-base($red-darken-2);
	}
	.pop-text {
		line-height: 25rpx;
		font-size: 25rpx;
		font-weight: bold;
		padding: 15rpx 0;
		text-align: center;
		color: $cyan-darken-3;
	}
	.pop-text-warning {
		margin: 0 15rpx;
		background-color: $red-lighten-1;
		border-radius: 10px;
		// display: inline-block;
		align-items: stretch;
		line-height: 40rpx;
		font-size: 40rpx;
	}
	.pop-input {
		margin: 0 10rpx;
		height: 40rpx;
		padding: 5rpx 25rpx;
		line-height: 40rpx;
		font-size: 40rpx;
		background: $blue-grey-lighten-5;
		border-radius: 10rpx;
	}
	.pop-color-block {
		margin: 10rpx 10rpx;
		padding: 5rpx;
		width: 60rpx;
		height: 60rpx;
		border-radius: 10rpx;
		border: 1px solid black;
	}
	.popColorBlockSelected {
		// border: 5px solid $blue-lighten-4;
		background-color: $blue-lighten-4;
	}
}

.btn {
	text-decoration: none;
	border: 1px solid rgb(146, 148, 248);
	position: relative;
	overflow: hidden;
	border-radius: 100px;
	// color: #ffffff;
	padding: 0 15rpx;
}
.btn:hover {
	box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(120deg, transparent, rgba(146, 148, 248, 0.4), transparent);
	transition: all 650ms;
}

.btn:hover:before {
	left: 100%;
}